<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ulisses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>

    <aside class="sidebar">
        <div class="logo">
            <h2>ULISSES</h2>
        </div>

        <nav>
            <span class="menu-title">PRINCIPAL</span>

            <a href="dashboard" class="menu-item active">
                <i class="fas fa-chart-bar"></i>
                Dashboard
            </a>

            <a href="#" class="menu-item">
                <i class="fas fa-file-alt"></i>
                Serviços (OS)
            </a>

            <span class="menu-title">CADASTROS</span>

            <a href="#" class="menu-item">
                <i class="fas fa-users"></i>
                Clientes
            </a>

            <a href="#" class="menu-item">
                <i class="fas fa-car"></i>
                Veículos
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-warehouse"></i>
                Estoque
            </a>

            <a href="#" class="menu-item">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                Serviços
            </a>

            <span class="menu-title">FINANCEIRO</span>

            <a href="#" class="menu-item">
                <i class="fas fa-wallet"></i>
                Contas
            </a>

            <a href="fiscal" class="menu-item">
                <i class="fa-solid fa-file-invoice-dollar"></i>
                Fiscal
            </a>

            <a href="#" class="menu-item">
                <i class="fas fa-cash-register"></i>
                Fluxo de Caixa
            </a>

            <a href="#" class="menu-item">
                <i class="fas fa-file-invoice"></i>
                Relatórios
            </a>

            <span class="menu-title">SISTEMA</span>

            <a href="#" class="menu-item">
                <i class="fas fa-cog"></i>
                Configurações
            </a>

            <a href="#" class="menu-item">
                <i class="fas fa-sign-out-alt"></i>
                Sair
            </a>
        </nav>

        <div class="user-box">
            <div class="avatar">U</div>
            <div>
                <strong>Ulisses</strong>
                <small>Administrador</small>
            </div>
        </div>
    </aside>

    <main class="content">
        <!-- Área vazia -->
    </main>

</body>
</html>